* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

.input, .button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
}
  
.input {
    background-color: #3f51b5;
    width: 13rem;
  }

::placeholder {
    color: #fff;
}
.button {
    background-color: #2196f3;
    cursor: pointer;
  }
  
.button:hover {
    background-color: #1976d2;
  }